# Virtual environement from python / UV / pip
.venv

# VScode
.code
.vscode

# JetBrains
.idea

# Checkpoints du LoRA
./qwen-sql-adapter/checkpoints/

# python Cache
src/ui/__pycache__
src/LoRA_fine_tuner/__pycache__